

h1 {
    padding: 20px;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 40;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-size: 2em;
}

ul {
    font-size: 2em;
    display: flex;
}
.active {
    color: gold;
}
nav ul {
    justify-content: center;
}
nav ul li {
    font-family: fantasy;
    color: crimson;
    display: flex; 
    font-size: 1em;
    margin-right: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    border-color:crimson;
    border-radius: 15px;
}

a {
    color: crimson;
    text-decoration: none;
}
a:hover {
    color: gold;
    transition: all 250ms ease-in;
    text-decoration: underline;
}
a:focus{
    background-color: gold;
    color: crimson;
}

.button{
    padding-left: 1em;
    padding-bottom: 0.5em;
}
.button:hover {
    font-size: 3em;
    padding: 0.1em;
    border: 10px solid crimson;
    position: sticky;
}
.button:active{
    background-color: gold;
    color: crimson;
    font-weight: 300;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
    background-color: black; 
}

.image{
    flex-direction: row;
    padding: 2em;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) /* De @media code gevonden dankzij W3schools (vraag hiernaar tijdens mondeling :) ) */
}

.homescreenimage{
    width: 700px;
    display: ;
    padding-left: 333px;
    justify-content: center;
}

section {
    display: flex;
    margin-bottom: 5em;
    max-width: 100%;
    flex-direction: column;
}
section :first-child{
    display: flex;
    flex-direction: column; 
}
section :nth-child(2) {
    font-size: 21px;
    flex-wrap: wrap;
    flex-direction: column;
}
section :nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    font-size: 25px;
}

footer p {
    justify-content: center;
    text-align: center;
}