

h1 {
    padding: 20px;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 40;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-size: 2em;
}

a {
    color: blueviolet;
}

.button:hover {
    font-size: 1em;
    padding: 0.1em;
    border: 2px solid blueviolet;
    position: sticky;
}
.button:active{
    background-color: yellow;
    color: blueviolet;
    font-weight: 300;
}
a:hover {
    color: yellow;
    transition: all 250ms ease-in;
}
a:focus{
    background-color: yellow;
    color: blueviolet;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
    background-color: black; 
}

ul {
    font-size: 2em;
    display: flex;
}
.active {
    color: yellow;
}
nav ul {
    font-family: fantasy;
    color: blueviolet;
    display: flex; 
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    border-color:blueviolet;
    border-radius: 15px;
}
nav ul li {
    display: flex; 
    font-size: 35px;
    margin-right: 1.5em;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    border-color:blueviolet;
    border-radius: 15px;
}

div .character{
    padding: 3em;
    justify-content: center;
    max-width: 80%;
}
div {
    border: solid;
    border-color: blueviolet;
    padding: 1em;
    max-width: 55%;
    justify-content: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    background-color:;
}
div .merch {
    justify-content: center;
    display: flex;
    min-width: 50%;
    max-width: 100%;
    max-height: 10%;
    text-align: right;
}

.merch{
    justify-content: center;
    display: flex;
    min-width: 50%;
    max-width: 100%;  
    margin-right: 40%; 
    padding-right: 3em;
    overflow-wrap: normal;
}

footer p {
    justify-content: center;
    text-align: center;
}

